.dashboardTitle {
    color: #007cc0;
    width: 115px;
    font-size: 14pt;
    overflow: hidden;
    word-wrap: break-word;
    margin-top: 15px;
    height: 50px;
    vertical-align: middle;
}
.counter {
    margin-left: 54px;
}

.sapMTile
{
	
}

.dashboardIcon {
	padding-left: 0.75rem;
	margin-top: 10px;
}

.sapSuiteUiMicroChartRMC
{
	margin-left: 5%;
}

.sapMPanelContent
{
	overflow: hidden;
}

.sapMIBar.sapMTB .sapMBarChild {
    color: #007cc0;
    font-size: 14pt;
    margin-right: 6px;
}

.sapMText {
    font-size: 22pt;
     color: #848f94;
}

.sapMTB {
    height: 4rem;
    background: transparent;
    border-bottom: 0px solid #cccccc;
}