.dashboardTitle {
    /*color: #007cc0;*/
    width: 115px;
    font-size: 14pt;
    overflow: hidden;
    word-wrap: break-word;
    margin-top: 15px;
    height: 50px;
    vertical-align: middle;
    font-weight: bold;
}
.counter {
    margin-left: 54px;
}

.redColor {
	color: red;
}

.sapMTile
{
	
}
.sapMPage {
	background-color: #F2F2F2;
}

.sapMITBSelected>.sapMITBContentArrow {
    border-bottom-color: orange;
}

.sapMITBTextOnly .sapMITBFilterDefault.sapMITBSelected>.sapMITBText
{
	color: orange;
}

.brake
{
	float:left;
	margin-right: 5px;
}

.throttle {
	float: left;
}

.sapMIBar.sapMTB .sapMBarChild
{
	font-weight: bold;
}

.sap-desktop .sapMShellCentralBox {
    box-shadow: 0 0 25px rgba(0,0,0,0.4);
}

.sapMTile {
    box-shadow: 0 1px 3px rgba(0,0,0,0.35);
}

.sapMShellBrandingBar{background-color:#000 !important;}  

.sapMGlobalBackgroundColor{background-color:#fff !important; opacity:0.9}  

.dashboardIcon {
	padding-left: 0.75rem;
	margin-top: 10px;
}

.sapSuiteUiMicroChartRMC
{
	/*margin-left: 5%;*/
}

.sapMPanelContent
{
	overflow: hidden;
}

.sapMIBar-CTX.sapMFooter-CTX {
	height: 3rem;
}

.sapMIBar.sapMTB .sapMBarChild {
    /*color: #007cc0;*/
    font-size: 14pt;
    margin-right: 6px;
}

.sapMText {
    font-size: 22pt;
     color: #848f94;
}

.sapMTB {
    height: 4rem;
    background: transparent;
    border-bottom: 0px solid #cccccc;
}