.customTextArea>textarea {
	font-family: 'Courier New'
}

.customLink {
	color: #ffffff !important;
	margin: 0ex 2ex;
}

.customLink:visited {
	color: #ffffff !important;
	margin: 0ex 2ex;
}

.customTitle {
	margin-top: 1rem !important;
	margin-bottom: 1rem !important;
}